.js-table-sort
  .table-sort__sorted
    &[data-sort-dir=ASC]::after
      content '\25B2'
    &[data-sort-dir=DESC]::after
      content '\25BC'

  tbody
    tr
      cursor pointer

.table-sort__card
  width 600px
  margin 0 auto